* a{
    text-decoration: none;
    color: aliceblue;
}
.Header{
    width:100%;
    position:fixed;
    top:0;
    background-color: rgb(202, 208, 212);
}
.top-bar{
    height: 12vh;
    background-color: black;
}
.Main-Logo{
    color: aliceblue;
    padding-top: 0.2%;
    text-align: left;
    margin-left: 10%;
    font-size: 40px;
}
.nav-mid-list{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    height: 75%;
    /* background-color: aliceblue; */
    position: absolute;
    right: 10%;
    top: 1vh;
}
.nav-mid-list-item{
    text-align: center;
    width: fit-content;
    height: 90%;
    /* background-color: blue; */
    position: relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav-mid-list-item p span{
    position: relative;
    top:-5px;
    margin-left: 5px;
}

/* ========================================Media Query for smaller screens ======================== */
@media screen and (max-width:700px) {
    .Main-Logo{
        padding-top: 2%;
        font-size: 24px;
    }
    .nav-mid-list  {
        width: fit-content;
        top: -5px;
    }
    .nav-mid-list-item{
        margin-left: 40px;
        text-align: center;
    }
    .top-bar{
        height: 60px;
    }
}

/* ==============================================super smaller size screens (mobile < 420px)========== */
@media screen and (max-width:420px) {
    .Main-Logo{
        padding-top:2%;
        margin-left: 5%;
    }
    
}